
@import '@/styles/abstract';

.body {
  padding: 10px;

  & .title {
    margin: 0;
  }

  & .text {
    margin-top: 1em;
  }

  & .link {
    margin-top: 1em;
  }

  &.info {
    border: 1px solid $color-ok;

    & .title {
      color: $color-ok;
    }
  
    & .text {
      color: $color-ok;
    }
  }

  &.warn, 
  &.error {
    border: 1px solid $color-warn;

    & .title {
      color: $color-warn;
    }
  
    & .text {
      color: $color-warn;
    }
  }
}