
@import '@/styles/abstract';

.body {
  padding: 10px;

  &.info {
    border: 1px solid $color-ok;

    & .title {
      color: $color-ok;
    }
  
    & .text {
      color: $color-ok;
    }
  }

  &.warn, 
  &.error {
    border: 1px solid $color-warn;

    & .title {
      color: $color-warn;
    }
  
    & .text {
      color: $color-warn;
    }
  }
}