
@import '@/styles/abstract';

$width: 100%;
$padding: 0.3rem;
$color: $color-1;
$bg-color: $bg-color-1;
$bg-color-focus: $bg-color-2;
$brd-color: $brd-color-2;
$brd-color-focus: $brd-color-2;
$item-padding: 0.3em;
$item-color-hover: $color-2;
$item-bg-color-hover: $bg-color-2;

@import './InputAutocompl.scss';
