
@import '@/styles/abstract';

.body {
  margin: 10px 0;
}

.film-list {
  display: flex;
  margin: 10px 0;
  row-gap: 10px;
  column-gap: 10px;
}

.film {
  flex-basis: 300px;
  padding: 10px;
  background-color: $bg-color-0;
  border: 1px solid $color-1;
}

.film-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.film-image {
  width: 120px;
  height: 150px;
  background-color: rgb(36, 13, 53);
  border: 1px solid $color-1;
  margin-bottom: 5px;
}

.film-genres {
  color: yellow;
}

.film-countries {
  color: pink;
}
