
@import '@/styles/abstract';

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  background-color: $bg-color-0;
  border: 1px solid $brd-color-1;
}

.search-options {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  //@include debug-border(red)
}

.genres {
  width: 8rem;
}

.countries {
  width: 8rem;
}

.text {
  flex-grow: 1;

  &__form {
    display: flex;
  }
  
  &__input {
    flex-grow: 1;
    //min-width: 13em;

    & input:focus {
      background-color: $bg-color-2; 
    }
  }

  &__btn {
    display: inline-block;
    margin-left: 3px;
  }
}

.sort {
  display: inline-block;
}
