
@import '@/styles/abstract';

.body {
  margin: 10px 0;
}

.film-list {
  display: flex;
  padding: 10px 0;
  row-gap: 10px;
  column-gap: 10px;
}

.film {
  flex-basis: 300px;
  padding: 10px;
  border: 1px solid $color-1;
}

.film-title {
  font-size: 1.2em;
}

.film-genres {
  color: yellow;
}

.film-countries {
  color: pink;
}
