
@import '@/styles/abstract';

.body {
  display: flex;
  padding: 10px;
  border: 1px solid $brd-color-1;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.genres {
  flex-basis: 10em;
}

.countries {
  flex-basis: 10em;
}

.text {
  flex-basis: 12em;
}

.text-form {
  white-space: nowrap;
}

.text-input {
  display: inline-block;

  & input:focus {
    background-color: $bg-color-2; 
  }
}

.text-btn {
  display: inline-block;
  margin-left: -1px;
}
