
@import '@/styles/abstract';

.body {
  display: flex;
  padding: 10px;
  background-color: $bg-color-0;
  border: 1px solid $brd-color-1;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

// .genres {
// }

// .countries {
// }

.text {
  &__form {
    display: flex;
  }
  
  &__input {
    width: 13em;

    & input:focus {
      background-color: $bg-color-2; 
    }
  }

  &__btn {
    display: inline-block;
    margin-left: 3px;
  }
}

.sort {
  flex-basis: 8em;
  flex-grow: 1;

  & select { width: 100%; }
}
