
@import '@/styles/abstract';

.body {
  display: flex;
  border: 1px solid $color-1;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.genres {
  flex-basis: 12em;
  color: yellow;
}

.countries {
  flex-basis: 12em;
  color: pink;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown .dropdown-btn {
  padding: 5px;
}

.dropdown .dropdown-btn__icon {
  margin-left: 0.2em;
}

.dropdown .dropdown-btn__icon::after {
  content: ' ▼';
}

.dropdown.--exp .dropdown-btn__icon::after {
  content: ' ▲';
}

.dropdown .dropdown-list {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: $bg-color-2;

  & li {
    list-style-type: none;
    padding: 5px;
  }
}

.dropdown.--exp .dropdown-list {
  height: auto;
}