
@import '@/styles/abstract';

.body {
  padding: 5px;
}

.list {
  display: flex;
  padding: 0;
  //@include debug-border(red);

  & li {
    margin: 0;
    margin-left: 0.4em;
    padding: 0;
    list-style-type: none;
  }

  & li:before {
    content: ' / ';
  }
}