
// основные размеры
$page-max-width: 900px;
$page-min-width: 250px;
$page-padding: 20px; 

// шрифт
$font-family-1: Verdana, sans-serif; 

// цвета основные
$color-ok: green;
$color-warn: red;

$color-1: #ffffff;
$color-2: orange;
$color-3: #555555;

$bg-color-1: #222222;
$bg-color-2: #333333;
$bg-color-3: #444444;

$brd-color-1: #ffffff;
$brd-color-2: orange;
$brd-color-3: #555555;

