
// основные размеры
$page-max-width: 960px;
$page-min-width: 250px;
$page-padding: 20px; 

// шрифт
$font-family-1: Verdana, sans-serif; 

// цвета основные
$color-ok: green;
$color-warn: red;

$color-1: #ffffff;
$color-2: orange;
$color-3: #555555;

$bg-color-0: black;
$bg-color-1: #222222;
$bg-color-2: #333333;
$bg-color-3: #444444;

$brd-color-1: #cccccc;
$brd-color-2: orange;
$brd-color-3: #555555;

$link-color: orange;
$link-color-hover: #1DA1F2;

$input-color: #ffffff;
$input-bg-color: black;
$input-bg-color-focus: #333333;
$input-brd-color: orange;

$btn-color: #ffffff;
$btn-bg-color: black;
$btn-bg-color-hover: #333333;
$btn-brd-color: orange;
$btn-brd-color-hover: #1DA1F2; 