
@import '@/styles/abstract';

* { 
  box-sizing: border-box; 
  font-family: $font-family-1;
}

body {
  font-size: 1rem;
  font-family: $font-family-1;
  color: $color-1;
  margin: 0;
  padding: 0;
  background-color: $bg-color-0;
}

// обертка, растягивающаяся по ширине содержимого
#page-wrapper {
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: $page-max-width;
  min-width: $page-min-width;
  //@include debug-border(green);
}

// обертка флекс-колонка для опускания футера вниз 
#page-content {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
  //@include debug-border(red);  
}

// шапка
.page-header {
  justify-self: flex-start;
  //@include debug-border(red);  
}

// основное содержание страницы
.page-main {
  flex-grow: 1;
  //@include debug-border(green);
}

// подвал
.page-footer {
  justify-self: flex-end;
  //@include debug-border(blue); 
}

// ссылка по умолчанию
a {
  color: $link-color;
  text-decoration: none;
  
  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

input[type="text"],
input[type="password"] {
  height: 2rem;
  padding: 0.3rem 0.4rem;
  font-size: 1rem;
  color: $input-color;
  background-color: $input-bg-color; 
  border: 1px solid $input-brd-color; 
  outline: none; 

  &:focus {
    background-color: $input-bg-color-focus; 
  }

  &:focus::placeholder { opacity: 0; }
}

select {
  height: 2rem;
  padding: 0.3rem 0.4rem;
  font-size: 1rem;
  color: $input-color;
  background-color: $input-bg-color; 
  border: 1px solid $input-brd-color; 
  outline: none; 

  &:focus {
    background-color: $input-bg-color-focus; 
  }
}

textarea {
  padding: 0.3rem 0.4rem;
  font-size: 1rem;
  color: $input-color;

  background-color: $input-bg-color; 
  border: 1px solid $input-brd-color; 

  &:focus {
    background-color: $input-bg-color-focus; 
  }
}

button {
  height: 2rem;
  padding: 0.3rem 0.4rem;
  font-size: 1rem;
  line-height: normal;
  color: $btn-color;
  background-color: $btn-bg-color; 
  border: 1px solid $btn-brd-color; 
  outline: none; 

  &:hover {  
    background-color: $btn-bg-color-hover; 
    border-color: $btn-brd-color-hover; 
    cursor: pointer; 
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $input-color;
  -webkit-box-shadow: inset 0 0 0 1000px $input-bg-color;
}
