
@import '@/styles/abstract';

$bg-color: $bg-color-1;
$brd-color: $brd-color-1;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px;
  background-color: $bg-color;
  border: 1px solid $brd-color;
}
