
$width: 100%;
$height: 2em;
$padding: 0.3rem;
$color: black;
$bg-color: white;
$bg-color-focus: #F5F8FA;
$brd-color: #AAB8C2;
$brd-color-focus: #1DA1F2;
$item-padding: 0.3rem;
$item-color-hover: white;
$item-bg-color: white;
$item-bg-color-hover: #1DA1F2;

@import '../CheckboxList.scss';