
.body {
  position: relative;
  width: $width;
  font-size: 1rem;
  background-color: $bg-color;
}

.body.--open {
  background-color: $bg-color-focus;
}

.title {
  display: flex;
  height: $height;
  justify-content: space-between;
  color: $color;
  padding: $padding;
  border: 1px solid $brd-color;
  user-select: none;
  cursor: pointer;
}

.--open .title {
  border: 1px solid $brd-color-focus;
}

.title__icon {
  user-select: none;
}

.title__icon::after {
  content: ' ▲';
}

.--closed .title__icon::after {
  content: ' ▼';
}

.list {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: $item-bg-color;
  border: 1px solid $brd-color;
  border-top: none;

  & li {
    list-style-type: none;
    padding: $item-padding;

    &:hover {
      color: $item-color-hover;
      background-color: $item-bg-color-hover;
    }
  }
}

.--closed .list {
  height: 0;
  border: none;
}
