
@import '@/styles/abstract';

.body {
  position: relative;
  width: 100%;
}

.body.--open {
  background-color: $bg-color-2;
}

.title {
  display: flex;
  justify-content: space-between;
  color: $color-2;
  padding: 5px;
  border: 1px solid $brd-color-2;
  user-select: none;
  cursor: pointer;
}

.title__icon {
  margin-left: 0.2em;
  user-select: none;
}

.title__icon::after {
  content: ' ▲';
}

.--closed .title__icon::after {
  content: ' ▼';
}

.list {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: $bg-color-2;
  border: 1px solid $brd-color-3;
  border-top: none;

  & li {
    list-style-type: none;
    padding: 5px;

    &:hover {
      background-color: $bg-color-3;
    }
  }
}

.--closed .list {
  height: 0;
}
