
@import '@/styles/abstract';

.body {
  position: relative;
  width: 100%;
}

.title {
  color: $color-2;
  padding: 5px;
  user-select: none;
}

.title-icon {
  margin-left: 0.2em;
  user-select: none;
}

.title-icon::after {
  content: ' ▼';
}

.--expand .title-icon::after {
  content: ' ▲';
}

.list {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: $bg-color-2;

  & li {
    list-style-type: none;
    padding: 5px;
  }
}

.--expand .list {
  height: auto;
}