
@import '@/styles/abstract';

// .body {
//   padding: 10px;
// }

.top-line {
  display: flex;
  margin: 5px 0;
  justify-content: center;
  align-items: top;
}

.middle-line {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 10px;
  border: 1px solid $brd-color-1;
}

.logo-box-link, .logo-box-link:hover {
  text-decoration: none;
}

.logo-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  color: $color-2;
}

.logo {
  height: 60px;

  & .logo-img {
    width: auto;
    height: 100%;
  }
}

.navline {
  padding: 10px;
  border: 1px solid $brd-color-1;
  border-top: none;
}