
@import '@/styles/abstract';

// .body {
//   padding: 10px;
// }

.top-line {
  display: flex;
  margin: 5px 0;
  justify-content: center;
  align-items: top;
}

.middle-line {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 10px;
  border: 1px solid $brd-color-1;
}

.logo-box {
  height: 80px;

  & .logo-image {
    width: auto;
    height: 100%;
  }
}

.navline {
  padding: 10px;
  border: 1px solid $brd-color-1;
  border-top: none;
}