
@import '@/styles/abstract';

.body {
  position: absolute;
  background-color: $bg-color-2;
}

.list {
  margin: 0;
  padding: 0;
  width: 100%;

  & li {
    list-style-type: none;
    padding: 5px;
  }
}